.app {
  text-align: center;
  background-color: grey;
  height: 100vh;
  width: 100vw;
}

.appBody {
  background-color: #d6d6d6;
  height: 90vh;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  overflow-y: auto;
}

/* Body related */
.applink {
  color: #61dafb;
}

.container::-webkit-scrollbar {
  display: none;
}