

.version {
  position: absolute;
  bottom: 7vh;
  left: 1vw;
  color: grey;
}

.copyright {
  position: absolute;
  bottom: 7vh;
  right: 1vw;
  color: grey;
}

.centralHomeInfo {
  max-height: 90vh;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}